html {
    font-size: 10px;
    font-family: Roboto Open Sans;
    background-color: #002469;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    margin: 0 30px;
    padding: 0 30px 20px 30px;
    background-color: white;
}

img {
    display: block;
    margin: auto;
    
}

#header_image {
    margin: 0;
    background-color: #1E1E1E;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    text-align: center;
}

li.dropdown {
    display: inline-block;
}

li a {
    padding: 0 25px;
}